extends ../theme/layout

block content

    //  BEGIN CONTENT BODY 
    - var img_use = data.img
    - var id_user = data.uuid_user
    - var username = data.username
    - var ord_password = data.password
    - var first_name_th = data.Profile.first_name_th
    - var last_name_th = data.Profile.last_name_th
    - var first_name_en = data.Profile.first_name_en
    - var last_name_en = data.Profile.last_name_en
    - var passport_no = data.Profile.passport_no
    - var passport_exp = data.Profile.passport_exp
    - var visible = data.visible
    - var update_at = data.updatedAt
    - var date_reg = new Date(update_at).toISOString().replace(/T/, ' ').replace(/\..+/, '')
    - var visa_no = data.Profile.visa_no ? data.Profile.visa_no : ''
    - var visa_exp = data.Profile.visa_exp
    - var country = data.Profile.country
    - var city = data.Profile.city
    - var phone = data.Profile.phone
    - var email = data.Profile.email

    - var dd = String(update_at.getDate()).padStart(2, '0')
    - var mm = String(update_at.getMonth() + 1).padStart(2, '0') //January is 0!
    - var yyyy = update_at.getFullYear()
    - var date_update = yyyy + '-' + mm + '-' + dd

    - var dd = String(passport_exp.getDate()).padStart(2, '0')
    - var mm = String(passport_exp.getMonth() + 1).padStart(2, '0') //January is 0!
    - var yyyy = passport_exp.getFullYear()
    - var passport_exp = yyyy + '-' + mm + '-' + dd

    if visa_exp
        - var dd = String(visa_exp.getDate()).padStart(2, '0')
        - var mm = String(visa_exp.getMonth() + 1).padStart(2, '0') //January is 0!
        - var yyyy = visa_exp.getFullYear()
        - var visa_exp = yyyy + '-' + mm + '-' + dd
    else
        - var visa_exp = ''
    

    .page-content
        //  BEGIN PAGE HEADER
        .page-bar.font-th
            ul.page-breadcrumb
                li
                    a(href='/guide/list').font-blue-ebonyclay การอนุมัติไกด์
                    i.fa.fa-angle-right
                    span 
                        b.font-blue-ebonyclay #{first_name_th + ' ' + last_name_th}
        //  END PAGE BAR 
        //  BEGIN PAGE TITLE
        h3.page-title.font-th ข้อมูลการลงทะเบียน
            small  (#{first_name_th + ' ' + last_name_th})
        //  END PAGE TITLE
        //  END PAGE HEADER
        .row
            .col-md-12.boxshadow
                .row.bg-grey-cararra.font-th(style='padding: 5px;')
                    form(action='/guide/'+id_user+'/edit' method='post')
                        .col-md-3(style='padding: 5px')
                            .text-center.bg-default(style='padding: 10px;')
                                img(alt='#{img_use}' src='/storages/profile_image/'+img_use)(style='width: 60%;')
                            h5.font-th 
                                ins ข้อมูลเข้าระบบ
                            .row
                                .col-md-12
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-4.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Username :
                                        .col-md-8
                                            p.form-control-static.font-blue-chambray(style='padding-bottom: 0px; font-weight: 600;') #{username}
                            input#username(name='username' type='hidden' value=username)
                            .row
                                .col-md-12
                                    .form-group(style='margin-top: 10px;')#password-warn(name='password-warn')
                                        label.col-md-4.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Password :
                                        .col-md-8
                                            input.form-control.static.font-blue-chambray#password(name='password' type='password' style='padding-bottom: 0px; font-weight: 600;')
                            .row
                                .col-md-12
                                    .form-group(style='margin-top: 10px;')#re_password-warn(name='re_password-warn')
                                        label.col-md-4.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Re-Password :
                                        .col-md-8
                                            input.form-control.static.font-blue-chambray#re_password(name='re_password' type='password' style='padding-bottom: 0px; font-weight: 600;')
                            input#ord_password(name='ord_password' type='hidden' value=ord_password)
                        .col-md-9
                            h5.font-th 
                                ins ข้อมูลส่วนตัว
                            .row
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-2.control-label.font-dark(style='margin-top: 7px; padding: 0px;') ชื่อ :
                                        .col-md-10
                                            input.form-control.spinner.font-blue-chambray#first_name_th(name='first_name_th' style='padding-bottom: 0px; font-weight: 600;' value=first_name_th)
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-2.control-label.font-dark(style='margin-top: 7px; padding: 0px;') สกุล :
                                        .col-md-10
                                            input.form-control.spinner.font-blue-chambray#last_name_th(name='last_name_th' style='padding-bottom: 0px; font-weight: 600;' value=last_name_th)
                            .row
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-4.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Firstname :
                                        .col-md-8
                                            input.form-control.spinner.font-blue-chambray#first_name_en(name='first_name_en' style='padding-bottom: 0px; font-weight: 600;' value=first_name_en)
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-4.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Lastname :
                                        .col-md-8
                                            input.form-control.spinner.font-blue-chambray#last_name_en(name='last_name_en' style='padding-bottom: 0px; font-weight: 600;' value=last_name_en)
                            .row
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-6.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Passport No :
                                        .col-md-6
                                            input.form-control.spinner.font-blue-chambray#passport_no(name='passport_no' style='padding-bottom: 0px; font-weight: 600;' value=passport_no)
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-6.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Passport Exp :
                                        .col-md-6
                                            input.form-control.spinner.font-blue-chambray#passport_exp(name='passport_exp' style='padding-bottom: 0px; font-weight: 600;' value=passport_exp)
                            .row
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-6.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Visa No :
                                        .col-md-6
                                            input.form-control.spinner.font-blue-chambray#visa_no(name='visa_no' style='padding-bottom: 0px; font-weight: 600;' value=visa_no)
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-6.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Visa Exp :
                                        .col-md-6
                                            input.form-control.spinner.font-blue-chambray#visa_exp(name='visa_exp' style='padding-bottom: 0px; font-weight: 600;' value=visa_exp)
                            .row
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-6.control-label.font-dark(style='margin-top: 7px; padding: 0px;') City :
                                        .col-md-6
                                            input.form-control.spinner.font-blue-chambray#city(name='city' style='padding-bottom: 0px; font-weight: 600;' value=city)
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-6.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Country :
                                        .col-md-6
                                            input.form-control.spinner.font-blue-chambray#country(name='country' style='padding-bottom: 0px; font-weight: 600;' value=country)
                            .row
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-6.control-label.font-dark(style='margin-top: 7px; padding: 0px;') Phone :
                                        .col-md-6
                                            input.form-control.spinner.font-blue-chambray#phone(name='phone' style='padding-bottom: 0px; font-weight: 600;' value=phone)
                                .col-md-6
                                    .form-group(style='margin-top: 10px;')
                                        label.col-md-6.control-label.font-dark(style='margin-top: 7px; padding: 0px;') E-mail :
                                        .col-md-6
                                            input.form-control.spinner.font-blue-chambray#email(name='email' style='padding-bottom: 0px; font-weight: 600;' value=email)
                            .input-group
                                span.input-group-btn
                                    button.btn.btn-block.green-jungle.uppercase.bold(type='submit')(style='margin-top: 10px;') บันทึก

    //  END CONTENT BODY
    script.
        var data = !{JSON.stringify(data)};
        console.log(data)

    if errors
        script.
            var errors = !{JSON.stringify(errors)};
            console.log(errors)
            errors.forEach(error => {
                $(`#${error.param+'-warn'}`).append(`<div class="help-block font-th">${error.msg}</div>`)
                $(`#${error.param+'-warn'}`).addClass('has-error')
            })
            var data = !{JSON.stringify(data)};
            console.log(data)